<% provide(:title, "Sobre") %>
<h1> Sobre esta aplicação </h1>

<table>
<tr>
<td> Author </td>
<td> Marcelo </td>
</tr>
<tr>
<td> Objetivo </td>
<td> Criar crud </td>
</tr>
<tr>
<td> Objetivos secundários </td>
<td> - ganhar conhecimento em rails<br>
- Pesquisar coisas sobre rails
<br> - Passar o tempo </td>
</tr>
</table>
<p>
<br>
<p>
Esta aplicação contém tres principais páginas:
<ul>
<li>Welcome</li>
<li>Órgão publico</li>
<li>Programas publicos</li>
</ul>
</p>

<h1> e o mais importante!!! mexer com o css do capiroto!!!</h1>
</table>

