<% provide(:title,"Home") %>
<div class="conteiner">

<h1>Bem vindo ao crud básico</h1>
<p>Aqui você poderá passear por incríveis páginas web e descobrir coisas interessantes, nunca vistas pela humanidade</p>


<div class="alerta">
<br>
<strong>dica forte</strong> não clique no 
<a href="#">link</a> abaixo, pois será desvirtuado do caminho do conhecimento!<br>
</div>
<div class="nao-clique">
<%= link_to "ha"*10, "http://leninja.com.br/" %>
</div>